.jumbotron {
    width: 1000px;
    font-family: 'Mouse Memoirs', sans-serif;
    background: linear-gradient(to bottom, #42abd6 0%, #fea0bf 100%);
}

#bannertext {
        font-size: 80px;
}

.panel {
    width: 1000px;
    background:#F0F8FF
}

.panel-primary {
    background: #FECFDC;
}

body {
    background-image: url("../images/38220568-disneyland-wallpaper.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#headertext {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
}

#contextbody {
    font-family: 'Oranienbaum', serif;
    font-size: 20px;
}

th {
    text-decoration: underline;
}

#addInfoButton {
    background-color: #42abd6;
}